.vantagens-bg {
  background-color: var(--cor-14);
  color: white;
  padding-top: 80px;
  padding-bottom: 80px;
}
.vantagens-grid h1 {
  padding-bottom: 60px;
}
.vantagens-ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.vantagens-ul li h3 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.vantagens-ul img {
  width: 45px;
}

@media (max-width: 850px) {
  .vantagens-ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  .vantagens-grid h1 {
    font-size: 36px;
  }
  .vantagens-ul li p {
    max-width: 48ch;
  }
  .vantagens-ul h3 {
    font-size: 28px;
  }
  .vantagens-ul p {
    font-size: 18px;
  }
  .vantagens-grid img {
    width: 36px;
  }
}
@media (max-width: 600px) {
  .vantagens-ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .vantagens-bg {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

/*Perguntas*/
.perguntas-bg{
  padding-bottom: 60px;
}
.perguntas-grid h1 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.li-unica{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 48px;
  border-radius: 5px;
  background-color: var(--cor-1);
}
.li-unica p {
  margin-left: 28px;
  margin-top: 8px;
  max-width: 70ch;
}
.li-unica h4{
  display: flex;
  align-items: center;
  position: relative;
}
.li-unica h4::before,.perguntas-ul h4::before{
  content: '';
  display: inline-block;
  width: 20px;
  height: 4px;
  margin-right: 8px;
  background-color: var(--cor-e1);
}
.li-unica h4::after,.perguntas-ul h4::after{
  content: '';
  width: 12px;
  height: 4px;
  background-image: url('../../0827-favicon/bikcraft-arquivos/img/icones/seta-abrir.svg');
  position: absolute;
  top: 18px;
  right: 20px;
}
.perguntas-ul h4::after{
  transform: rotate(180deg);
}
.perguntas-ul h4{
  display: flex;
  align-items: center;
}
.perguntas-ul li{
  background-color: var(--cor-1);
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 48px;
  border-radius: 5px;
}
.perguntas-ul li:nth-child(odd){
  background-color: var(--cor-0);
}

@media(max-width:950px){
  .li-unica{
    padding: 20px 300px 20px 48px;
  }
  .li-unica h4::after{
    right: -280px;
  }
}
@media(max-width:800px){
  .li-unica{
    padding: 20px 150px 20px 48px;
  }
  .li-unica h4::after{
    right: -130px;
  }
}
@media(max-width:600px){
  .li-unica{
    padding: 20px 100px 20px 48px;
  }
  .li-unica h4::after{
    right: -80px;
  }
}
