:root {
  /*cores de base*/
  --cor-0: #ffffff;
  --cor-1: #f7f7f7;
  --cor-2: #d9d9d9;
  --cor-3: #c7c7c7;
  --cor-4: #adadad;
  --cor-5: #999999;
  --cor-6: #828282;
  --cor-7: #757575;
  --cor-8: #636363;
  --cor-9: #575757;
  --cor-10: #474747;
  --cor-11: #383838;
  --cor-12: #262626;
  --cor-13: #121212;
  --cor-14: #000000;
  /*cores de enfase*/
  --cor-e1: #ffb800;
  --cor-e2: #e9a622;
  --cor-e3: #c8890b;
  --cor-e4: #a87000;
  --cor-e5: #5b2d00;
  --cor-e6: #412b00;
  --cor-e7: #1e1400;
}

.cor-e1 {
  color: var(--cor-e1);
}
.cor-e4 {
  color: var(--cor-e4);
}
.cor-e5 {
  color: var(--cor-e5);
}
.cor-e7{
  color: var(--cor-e7);
}
.corpo-de-texto-cor-0{
  color: var(--cor-0);
}
.corpo-de-texto-cor-1{
  color: var(--cor-1);
}
.corpo-de-texto-cor-2{
  color: var(--cor-2);
}
.corpo-de-texto-cor-3{
  color: var(--cor-3);
}
.corpo-de-texto-cor-4{
  color: var(--cor-4);
}
.corpo-de-texto-cor-5{
  color: var(--cor-5);
}
.corpo-de-texto-cor-6{
  color: var(--cor-6);
}
.corpo-de-texto-cor-7{
  color: var(--cor-7);
}
.corpo-de-texto-cor-8{
  color: var(--cor-8);
}
.corpo-de-texto-cor-9{
  color: var(--cor-9);
}
.corpo-de-texto-cor-10{
  color: var(--cor-10);
}
.corpo-de-texto-cor-11{
  color: var(--cor-11);
}
.corpo-de-texto-cor-12{
  color: var(--cor-12);
}
.corpo-de-texto-cor-13{
  color: var(--cor-13);
}
.corpo-de-texto-cor-14{
  color: var(--cor-14);
}

