.footer-bg {
  background-color: var(--cor-14);
}
.footer-container {
  padding-top: 40px;
  padding-bottom: 32px;
  display: grid;
  grid-template-columns: 4fr 5fr 3fr;
}
.footer-contato h3,
.footer-informacoes h3 {
  padding-bottom: 40px;
}
.footer-contato li + li,
.footer-informacoes li + li {
  padding-top: 16px;
}
.footer-contato li:nth-child(even)::after {
  content: "";
  display: block;
  width: 360px;
  height: 2px;
  background-color: var(--cor-13);
  margin-top: 16px;
}
a {
  text-decoration: none;
}
.footer-container span {
  max-width: max-content;
}
.redes-sociais {
  padding-top: 20px;
  display: flex;
  gap: 32px;
}
.footer-copy {
  padding-top: 40px;
  grid-column: 1/-1;
  font: 500 1.125rem/1.11 "roboto", sans-serif;
}
@media (max-width: 1100px) {
  .footer-container span {
    display: none;
  }
  .footer-container {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    justify-items: center;
  }
}
@media (max-width: 850px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 60px;
    justify-items: center;
  }
  .footer-contato {
    padding-left: 62px;
  }
  .footer-contato li:nth-child(even)::after {
    display: none;
  }
  .footer-copy {
    padding-top: 20px;
  }
}