.parceiros{
  padding-bottom: 120px;
}
.parceiros h2{
  padding-top: 80px;
  padding-bottom: 60px;
}
.parceiros-marcas{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  max-width: 1500px;
  padding: 0 20px;
  margin: 0 auto;
}
.parceiros-marcas li{
  padding: 32px;
  border-left: 2px solid var(--cor-2);
}
.parceiros-marcas li:nth-child(4n + 1){
  border-left: none;
}
.parceiros-marcas li:nth-child(n+5){
  border-top: 2px solid var(--cor-2);
}
.parceiros-marcas img{
  margin: auto;
}

@media(max-width:950px){
  .parceiros h2{
    font-size: 2.5rem;
  }
}
@media(max-width:850px){
  .parceiros-marcas{
    grid-template-columns: repeat(2,1fr);
  }
  .parceiros-marcas li:nth-child(odd){
    border-left: none;
  }
  .parceiros-marcas li:nth-child(n+3){
    border-top: 2px solid var(--cor-2);
  }
}
